@import '../../../assets/itl-common-css/common-css.scss';

.main-container {
    background-color: #f1f3f5;
    z-index: 99999999999 !important;
    color: #1d252b;
    font-size: 13px;
    @media screen and (min-width: 1500px) {
        min-width: 1440px;
    }
    .main-container-header {
        top: 0;
        padding: 22px 0 22px 0;
        position: sticky;
        max-height: 64px;
        z-index: 9 !important;
        text-align: center;
        color: #575f6c;
        .header-content-1 {
            gap: 24px;
        }
        .header-content-2 {
            margin-left: 63px;
            gap: 8px;
        }
        .header-content-3 {
            margin: 0 31px 0 31px;
            div {
                max-height: 13px;
            }
        }
        .header-content-4 {
            font-size: 12px;
            gap: 8px;
        }
        .header-content-5 {
            font-size: 12px;
            margin-left: 32px;
            gap: 8px;
            span {
                max-width: 12px;
                max-height: 12px;
            }
            span:nth-child(2),
            span:nth-child(3) {
                margin-left: -5px;
            }
        }
        .header-content-6 {
            margin-left: 28px;
            gap: 8px;
        }
        .header-content-7 {
            color: #b6684b;
            background-color: #ffedb1;
            padding: 0 5px;
            height: 16px;
            border-radius: 2px;
            font-size: 10px;
            font-weight: 600;
            line-height: 1.6;
            margin-left: 24px;
            width: 77px;
            text-align: center;
            gap: 10px;
        }
        .header-button1 {
            border: none;
            cursor: pointer;
            background-color: transparent;
            img {
                width: 36px;
                height: 32px;
            }
        }
        .header-button2 {
            border-radius: 4px;
            border: solid 1px #0168ed;
            background-color: #1279ff;
            color: white;
            padding: 8px;
            width: 80px;
            height: 32px;
        }
    }
    font-family: $interMedium;

    .container-activity {
        height: fit-content;
    }
    .container-section-2 {
        margin-top: 40px;
        margin: 40px 10px 0 10px;
        @media screen and (min-width: 1440px) {
            margin: 40px 152px 0 152px;
        }
        .container-section-left-cards {
            @media screen and (min-width: 1440px) {
                max-width: 752px;
            }
        }
        .container-basic {
            .basic-icon {
                max-width: 24px;
                max-height: 24px;
            }
        }

        .container-activity {
            @media screen and (min-width: 1440px) {
                max-width: 368px;
            }
        }
    }
    .container-basic-header {
        padding: 12px 0 12px 24px;
    }
    .buyer-intent-yellow-color {
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: block;
        background: #36b27e;
    }

    .ShopifyIcon {
        max-width: 16px;
        max-height: 16px;
    }
}
.whatsapp-icon {
    max-width: 20px;
    max-height: 20px;
}
.copy-button,
.edit-button,
.close-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.bottom-border {
    border-bottom: 1px solid #f1f3f5;
}
.prepaid-tag {
    color: #366cb8;
    background-color: #d9e9ff;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    border-radius: 2px;
}
.line {
    width: 1px;
    height: 25px;
    background-color: #dfe3e6;
}

.activity-tag {
    background-color: #f1f3f5;
}
