$backgroundGreen: #36b27e;
$backgroundBlue :#0052CC;
$textBlue :#0052CC;
$blueColor:#0065FF;
$disabledColor:#9CA3AF;
$whiteColor:#fff;
$blackColor:#000;
$lightGrayColor:#d1d5db;
$inputPlaceholderColor:#6B7280;
$primaryFontColor:#1F2937;
$inputBackgroundColor:#f3f4f6;
$labelColor:#374151;
$sizes: 12;
$featureBackgroundHover:#e9ecef;
$primaryColor:#3c4249;
$inputBorderColor:#dfe3e6;
$inputLabelColor:#575f6c;
$applyBtnClr:#1279ff;
$applyBtnBorderClr:#0168ed;
$cancelBtnBorderClr:#dfe3e6;
$disableBtnClr:#9ca3af;
$disableBtnBorderClr:#d1d5db;
$disableBtnBackgroundClr:#e5e7eb;
$deleteTextColor:#c01111;
$customizeColumnBorder:#d0d6dc;
$customizedColumnHeadingBorder:#e9ebef;
$headingColor:#1d252b;
$switchBackgroundClr:#464df2;
$notificationBarBorderClr:#0c0c0d;
$notificationBarTextClr:#fbfcfd;
$notificationBarErrorBackground:#e60017;
$filterLiTextClr:#4c545d;
$moreFilterBackgroundActive:#f1f3f5;
$dtHeadingColor:#fff;
$mainbox:#212121;

/** fontweight**/
$fontWeight100:100;
$fontWeight200:200;
$fontWeight300:300;
$fontWeight400:400;
$fontWeight500:500;
$fontWeight600:600;
$fontWeight700:700;
$fontWeight800:800;
$fontWeight900:800;


/** border radius **/
$borderRadius50:50px;
$borderRadius6:6px;
$borderRadius12:12px;
$borderRadius8:8px;

/** lineheight css **/
$lineHight16:16px;
$lineHight24:24px;

/** scroll bar color **/
$thumbBackgroundColor:#9CA3AF;

/** font family **/

/** font family **/
$helveticaRegular:'HelveticaNowText-regular';
$helveticaMedium:'HelveticaNowText-medium';
$poppinsMedium:'Poppins-Medium';
$poppinsSemiBold:'Poppins-SemiBold';
$segoeUIRegular:'SegoeUI-Regular';
$segoeUISemiBold:'SegoeUI-Semibold';
$segoeUIBold:'SegoeUI-Semibold';
$interMedium:'Inter-Medium';
$interRegular:'Inter-Regular';
$interSemiBold:'Inter-SemiBold';
$interBold:'Inter-Bold';

$poppinsMediumFont:'Poppins-Medium';
$poppinsSemiBoldFont:'Poppins-SemiBold';
$segoeUIRegularFont:'SegoeUI-Regular';
$segoeUISemiBoldFont:'SegoeUI-Semibold';

/** fontweight**/
$fontWeight100:100;
$fontWeight200:200;
$fontWeight300:300;
$fontWeight400:400;
$fontWeight500:500;
$fontWeight600:600;
$fontWeight700:700;
$fontWeight800:800;
$fontWeight900:800;

/** font size **/
$fontSize12:12px;
$fontSize13:13px;
$fontSize14:14px;
$fontSize20:20px;
$fontSize16:16px;
$fontSize18:18px;
/** lineheight css **/
$lineHight14:14px;
$lineHight16:16px;
$lineHight24:24px;

$secondarycolor : #575f6c;
$primarycolor :#1279ff;
$secondarylight:#dfe3e6;

/**color css **/
$primaryColor :#1279ff;
$primarywhite : #fff;
$secondaryColor : #3c4249;
$secondaryLight:#dfe3e6;

/**line height **/
$textLine-heigt: 14px;

/**border color **/
$border-proerty: solid 1px #dfe3e6;
