$backgroundGreen: #36b27e;
$backgroundBlue: #0052cc;
$textBlue: #0052cc;
$blueColor: #0065ff;
$disabledColor: #9ca3af;
$whiteColor: #fff;
$blackColor: #000;
$lightGrayColor: #d1d5db;
$inputPlaceholderColor: #6b7280;
$primaryFontColor: #1f2937;
$inputBackgroundColor: #f3f4f6;
$labelColor: #374151;
$sizes: 12;
$featureBackgroundHover: #e9ecef;
$primaryColor: #3c4249;
$inputBorderColor: #dfe3e6;
$inputLabelColor: #575f6c;
$applyBtnClr: #1279ff;
$applyBtnBorderClr: #0168ed;
$cancelBtnBorderClr: #dfe3e6;
$disableBtnClr: #9ca3af;
$disableBtnBorderClr: #d1d5db;
$disableBtnBackgroundClr: #e5e7eb;
$deleteTextColor: #c01111;
$customizeColumnBorder: #d0d6dc;
$customizedColumnHeadingBorder: #e9ebef;
$headingColor: #1d252b;
$switchBackgroundClr: #464df2;
$notificationBarBorderClr: #0c0c0d;
$notificationBarTextClr: #fbfcfd;
$notificationBarErrorBackground: #e60017;
$filterLiTextClr: #4c545d;
$moreFilterBackgroundActive: #f1f3f5;
$danger-color: #f44336;

/** fontweight**/
$fontWeight100: 100;
$fontWeight200: 200;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight800: 800;
$fontWeight900: 800;

/** font size **/
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize20: 20px;
$fontSize16: 16px;

/** font family **/
$helveticaRegular: 'HelveticaNowText-regular';
$helveticaMedium: 'HelveticaNowText-medium';
$helveticaBold: 'HelveticaNowText-Bold';
$poppinsMediumFont: 'Poppins-Medium';
$poppinsSemiBoldFont: 'Poppins-SemiBold';
$segoeUIRegularFont: 'SegoeUI-Regular';
$segoeUISemiBoldFont: 'SegoeUI-Semibold';
$interMedium: 'Inter-Medium';
$interRegular: 'Inter-Regular';
$interSemiBold: 'Inter-SemiBold';
$interBold: 'Inter-Bold';
/** border radius **/
$borderRadius50: 50px;
$borderRadius30: 30px;
$borderRadius6: 6px;
$borderRadius12: 12px;
$borderRadius8: 8px;
$borderRadius4: 4px;

/** lineheight css **/
$lineHight16: 16px;
$lineHight24: 24px;
$lineHight14: 14px;

/** scroll bar color **/
$thumbBackgroundColor: #9ca3af;

$heading: #1d252b;
$pageHeading: #0c0c0d;
$subHeading: #3c4249;
$backgroundlightBlue: #edf5ff;

$secondarycolor: #575f6c;
$primarycolor: #1279ff;
$secondarylight: #dfe3e6;

/**color css **/
$primaryColor: #1279ff;
$primarywhite: #fff;
$secondaryColor: #3c4249;
$secondaryLight: #dfe3e6;
//=================================================================================="new css start here"=======================================================================
// Box Shadows
$smBoxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
$mdBoxShadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.1);

// Text sizes
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 14px;
$sub-p: 13px;
$sm-sub-p: 12px;
$note: 11px;

// Border Radius
$sm-border-radius: 4px;
$md-border-radius: 6px;

// small button
$sm-btn-height: 28px;
$sm-btn-padding: 6px 12px;
$sm-btn-font-size: 12px;
// medium button
$md-btn-height: 32px;
$md-btn-padding: 8px 12px;
$md-btn-font-size: 12px;
// large button
$lg-btn-height: 40px;
$lg-btn-padding: 12px 24px;
$lg-btn-font-size: 14px;

// Form Input
$input-height: 32px;
$input-padding: 9px 12px;
$input-border-radius: 4px;

// Dropdown
$dropdown-height: 32px;
$dropdown-padding: 8px 12px;
$dropdown-border-radius: 4px;
$dropdown-label-font-size: 13px;

// Toggle
$sm-toggle-width: 28px;
$sm-toggle-height: 16px;
$md-toggle-width: 36px;
$md-toggle-height: 20px;

// Checkbox
$sm-checkbox-h-w: 12px;
$md-checkbox-h-w: 16px;

// Radio
$sm-radio-h-w: 12px;
$md-radio-h-w: 15px;
//================================================================================== "new css ends here" =======================================================================

$themes: (
    darkTheme: (
        'disabledInput': #5c5c5c,
        'dropdownbg': black,
        'background-image': linear-gradient(to right, #212121 12%, #212121 32%, #212121 55%, #212121 75%, #212121 90%),
        'important-bg': '#212121',
        'black-900': #e5e7eb,
        'black-800': #dfdfdf,
        'black-700': #dfdfdf,
        'black-500': #dfdfdf,
        'rise-background': #4d4d4d,
        'static-black-700': #3c4249,

        // border color start here
        'border-black-400': #4d4d4d,
        'border-black-500': #5d5d5d,
        'border-black-600': #6d6d6d,
        'checkbox-border-clr': #dfdfdf,
        'border-black-300': #3d3d3d,
        'product-qty-border': #4d4d4d,
        'modal-product-border': #4d4d4d,
        'modal-product-qty': #dfdfdf,
        'checkbox-color': #1c9dfa,
        'cancel-button-border': #2b2b2b,
        // border color ends here
        'background': #3d3d3d,
        // sidebar and Top Menu start here
        'background-sideBar': #3d3d3d,
        'background-sideBar-img': #212121,
        'background-top-active': #212121,
        'background-topBar-svg': #fff,
        'topBar-menu-black': #dfdfdf,
        'topBar-menu-heading': #fff,
        'topBar-menu-border': #fff,
        'topBar-menu-dropdown-item': #fff,
        'topBar-menu-help-dropDown': #dfdfdf,
        'topBar-menu-border-tick': #dfdfdf,
        'topbar-menu-straightLine': #fff,
        // sidebar and Top Menu ends here
        // notifications and DataTabel start here
        'notification-heading': #f3f4f6,
        'notification-whatsapp-dropdown': '../../../assets/images/dark-mode/dark-drodown-arrow.svg',
        'dt-black-500': #dfdfdf,
        'dt-search-black-400': #424242,
        'dt-input-search-bg': #4d4d4d,
        'dt-sidebar-active-tick': #78c7ff,
        'dt-filter-active-tab': #545454,
        'dt-filter-header': #3d3d3d,
        'dt-filter-header-right': #545454,
        'dt-filter-header-right-text': #d1dfdb,

        'dt-pagination-bg': #313131,
        'dt-pagination-bg-dropdown': #252525,
        'dt-pagination-active-bg': #212121,
        'dt-pagination-active-text': #fff,

        'dt-loader-bg': #2a3732,
        'dt-loader-text': #57d9a3,
        'dt-filter-cancle-btn-bg': #3d3d3d,
        'dt-filter-cancle-btn-text': #dfdfdf,
        'dt-filter-custom-range-text': #78c7ff,

        'dt-save-filter-bg': #212121,
        'dt-save-filter-text': #fff,
        'dt-fiter-checbox-bg': transparent,
        'dt-remove-filter': #1279ff,
        'dt-filter-select-text': #fff,
        'dt-bg-hover-400': #3d3d3d,
        'dt-filter-li-clr': #424242,
        'dt-filter-li-text-clr': #e3eeff,
        'dt-empty-text-heading': #e5e7eb,
        'dt-empty-text-sub-heading': #e5e7eb,
        'dt-table-head': #3d3d3d,
        'dt-table-td-border': #4d4d4d,
        'dateRangePicker-color': #e5e7eb,
        'filter-background': #4d4d4d,
        'filter-btn-background': #4d4d4d,
        'filter-btn-text': #dfdfdf,
        'dt-box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)',
        // notifications and DataTabel ends here
        // body background start here
        'body-background': #212121,
        // body background ends here
        //inputs clrs
        'input-background': #4d4d4d,
        //inputs clrs
        // word magic start here
        'card-bg': #313131,
        'body-bg': #212121,
        'input-border-clr': #4d4d4d,
        'dropdown-hover': #3c4249,
        'dropdown-hover-active': #3c4249,

        'input-bg-clr': #4d4d4d,
        'input-text-clr': #dfdfdf,
        'input-placeholder': #9ca3af,
        'label-clr': #dfdfdf,
        'dropdown-text-hover': #dfdfdf,
        'slider-bg': #4d4d4d,

        // word magic ends here
        'red-clr': #fc7f67,
        'modal-border-bottom': #4d4d4d,
        'modal-header-border-bottom': #4d4d4d,
        // notifications Charges start
        'per-order-rupee-bg': #4d4d4d,
        'per-order-rupee-text': #dfdfdf,
        // notifications Charges ends
        // date range start
        'daterange-header-item': #dfdfdf,
        'daterange-disable-cell': #313131,
        'daterange-year-picker': #4d4d4d,
        'daterange-date-disable': #7a7a7a,
        // date range end
        // scroll bar
        'scroll-bar-track': #4d4d4d,
        // scroll bar end
        // wismo start here
        'table-th': #4d4d4d,
        'wismo-border': #4d4d4d,
        'wismo-border1': #4d4d4d,
        'wismo-btn-color': #78c7ff,
        'wismo-modal-bg': #212121,
        'wismo-modal-color': #dfdfdf,
        'wismo-modal-border': #4d4d4d,
        'wismo-vendor-btn': #1279ff,

        // wismo end here
        // checkout Dashboard
        'checkout-card-bg': #3d3d3d,
        'checkout-card-span-text': #dfdfdf,

        // checkout Dashboard end
        // Early COD page start here
        'early-cod-deactivate-btn': transparent,
        'early-cod-deactivate-btn-color': #fff,
        'early-cod-deactivate-btn-border-color': #fff,
        'early-cod-card-border': #0168ed,

        // Table Component starts Here
        'dtb-tab-background': transparent,
        'dtb-tabs-whole-background': #313131,
        'dtb-tab-text-color-active': #dfdfdf,
        'dtb-tab-text-color-text': #babbbc,

        // Filter Modal
        'filter-header-background': #3d3d3d,
        'filter-content-background': #3d3d3d,
        'filter-footer-background': #3d3d3d,
        'filter-modal-close-btn': #fff,

        //check Pincode serviceability
        'check-input-background': #3d3d3d,
        'check-value': #e3eeff,
        'check-border': #1f2937,
        'check-font-color': #78c7ff,
        // connect plus
        'connect-bg': #4d4d4d,
        // bulk print shipment
        'bulk-background-color': #4d4d4d,
        'bulk-border-color': #383b40,
        'table-navlink-background': #313131,
        'table-navlink-inactive-color': #dfdfdf,
        'rate-chart-selector-border-color': #3d3d3d,
        'rate-chart-selector-text-color': #dfdfdf,
        'thead-bg': #212121,
        'rate-chart-table-head-text-color': #dbdada,
        'rate-chart-table-text-color': #dbdada,
        'rate-chart-radio-label': #dfdfdf,
        'fw-dto-inactive-btn': #939191,
        'fw-dto-active-btn': #212121,
        'fw-dto-btns-border': #696868,
        'modal-input-color': #dfdfdf,
        'cancel-btn-bg': transparent,
        'submit-btn-border': transparent,
        'selected-font-weight-blue': 700,
        'disabled-table-shadow-color': #fff,
        'verify-otp-modal-heading': #e5e7eb,
        'background-celldisable': #616161,
        'verify-otp-modal-subheading': #dfdfdf,
        // "rate-chart-modal-bg":
        //kyc
        'pancard-bg': #4d4d4d,
        'dateborder-bg': #383b40,
        'dropdown-border': #474747,

        //   checkout payment
        'payment-dropdown-border': #4d4d4d,
        'dropdown-background': #212121,
        'payment-input-border': #474747,
        // 'check-input': #474747
        //checkout general
        'dropdown-color': #fff,
        'border-bottom': #545b67,
        'toggleBackground': #5d5d5d,
        // 'input-color':#e5e7eb,
        //checkout discount
        'heading-color': #fff,
        'discount-heading': #fff,
        'pc-dt-dropdown-border': #4d4d4d,

        'normal-table-th': #545b67,
        'error-message': #ff5630,
        /////////////////////////🟢🟢////////////////////////
        // COLORS
        'primary': var(--primary-color),
        'primary-dark': var(--primary-color-dark),
        'error': var(--error-color),
        'error-dark': var(--error-color-dark),
        'success': var(--success-color),
        'success-dark': var(--success-color-dark),
        'dark-0': var(--light-0),
        'dark-100': var(--dark-100),
        'dark-200': var(--dark-200),
        'dark-300': var(--dark-300),
        'dark-400': var(--dark-400),
        'dark-500': var(--dark-500),
        'dark-600': var(--dark-600),
        'dark-700': var(--dark-700),
        'dark-740': var(--dark-740),
        'dark-800': var(--dark-800),
        'dark-900': var(--dark-900),
        'dark-1000': var(--dark-1000),
        'line-dark-color': var(--line-dark-color),
        'blue-light-color': var(--blue-light-color),
        'table-border-color': var(--table-border-color),
        'nav-icon-hover-color': var(--nav-icon-hover-color),
        // buyer intent circle colours
        'bi-green': var(--bi-green),
        'bi-yellow': var(--bi-yellow),
        'bi-gray': var(--bi-gray),
        // Input Colors
        'input-border-color': var(--input-border-color),
        'input-text-color': var(--input-text-color),
        'input-focused-border': var(--input-focused-border),
    ),
    lightTheme: (
        'normal-table-th': #f1f3f5,
        'disabledInput': #dfdfdf,
        'dropdownbg': #dfdfdf,
        'background-celldisable': #f0f0f0,
        'background-image': linear-gradient(to right, #e2f2f5 12%, #e4edf7 32%, #f3ebfe 55%, #e8e7f8 75%, #eae2f9 90%),
        'important-bg': linear-gradient(to right, #e2f2f5 12%, #e4edf7 32%, #f3ebfe 55%, #e8e7f8 75%, #eae2f9 90%),
        'black-900': #0c0c0d,
        'black-800': #1d252b,
        'black-700': #3c4249,
        'black-500': #808b98,
        'checkbox-color': #0065ff,
        // rise start here
        'rise-background': #edf5ff,
        // rise ends here
        'static-black-700': #3c4249,
        'background': #fff,
        // border start here
        'border-black-400': #e9ecef,
        'border-black-500': #dfe3e6,
        'border-black-600': #dfe3e6,
        'checkbox-border-clr': #9ca3af,
        'border-black-300': #d0d6dc,
        'product-qty-border': #d0d6dc,
        'modal-product-border': #d0d6dc,
        'modal-product-qty': #4c545d,
        'cancel-button-border': #d1d5db,
        // border ends here
        // sidebar and Top Menu start here
        'background-top-active': #f1f3f5,
        'background-sideBar': var(--menu-bg),
        'background-sideBar-img': #f3f4f6,
        'background-topBar-svg': #3c4249,
        'topBar-menu-black': #374151,
        'topBar-menu-heading': #4b5563,
        'topBar-menu-border': #374151,
        'topBar-menu-dropdown-item': #333,
        'topBar-menu-help-dropDown': #1d252b,
        'topBar-menu-border-tick': #575f6c,
        'topbar-menu-straightLine': #d1d5db,
        // sidebar and Top Menu ends here
        // notifications and DataTabel start here
        'notification-heading': #082355,
        'notification-whatsapp-dropdown': '../../../assets/images/drodown-arrow-down.svg',

        'dt-black-500': #eaebec,
        'dt-input-search-bg': #f3f4f6,
        'dt-filter-active-tab': #f3f4f6,
        'dt-sidebar-active-tick': #0065ff,
        'dt-filter-header': #fff,
        'dt-filter-header-right': #f3f4f6,

        'dt-save-filter-bg': #f1f3f5,

        'dt-save-filter-text': #1d252b,

        'dt-pagination-bg': #fbfcfd,
        'dt-pagination-bg-dropdown': #f1f3f5,
        'dt-pagination-active-bg': transparent,
        'dt-pagination-active-text': #1d252b,

        'dt-filter-select-text': #1d252b,
        'dt-filter-header-right-text': #656f7d,
        'dt-filter-cancle-btn-bg': #fff,
        'dt-filter-cancle-btn-text': #575f6c,

        'dt-fiter-checbox-bg': #fff,

        'dt-remove-filter': #0052cc,
        'dt-filter-custom-range-text': #006af4,

        'dt-loader-bg': #eff4ee,
        'dt-loader-text': #208b02,

        'dt-search-black-400': #f1f3f5,
        'dt-bg-hover-400': #e9ecef,
        'dt-filter-li-clr': #e9ecef,
        'dt-filter-li-text-clr': #4b5563,
        'dt-empty-text-heading': #374151,
        'dt-empty-text-sub-heading': #6b7280,
        'dt-table-head': #edf5ff,
        'dt-table-td-border': #e5e7eb,
        'dateRangePicker-color': #374151,
        'filter-background': #fff,
        'filter-btn-background': #e9ecef,
        'filter-btn-text': #a3aebb,
        'dt-box-shadow': '0 2px 4px 0 rgba(192, 205, 210, 0.6), 0 1px 18px 0 rgba(187, 224, 238, 0.1)',
        'input-background': #f1f3f5,

        // notifications and DataTabel ends here
        // body background start here
        'body-background': var(--surface-ground),
        'modal-border-bottom': #f1f3f5,
        'modal-header-border-bottom': #e9ebef,

        // body background ends here
        // word magic
        'card-bg': #fff,
        'body-bg': #f2f4f6,
        'input-border-clr': #dfe3e6,
        'input-bg-clr': #fff,
        'input-text-clr': #374151,
        'input-placeholder': #7a869a,
        'label-clr': #575f6c,
        'dropdown-text-hover': #69707a,
        'dropdown-hover': #dfdfdf,
        'dropdown-hover-active': #dfdfdf,
        'slider-bg': #ccc,
        // word magic ends here
        'red-clr': #de350b,

        // notifications Charges start
        'per-order-rupee-bg': #fff7f0,
        'per-order-rupee-text': #374151,

        // notifications Charges ends
        // date range start
        'daterange-header-item': #656f7d,
        'daterange-disable-cell': #dfdfdf,
        'daterange-year-picker': #fff,
        'daterange-date-disable': #c0c4cc,

        // date range end
        // scroll bar
        'scroll-bar-track': #dfdfdf,
        // scroll bar end
        // wismo start
        'table-th': #f3f4f6,
        'wismo-border': #e5e7eb,
        'wismo-border1': #f1f3f5,
        'wismo-btn-color': #6554c0,
        'wismo-modal-bg': #f2f4f7,
        'wismo-modal-color': #1f2937,
        'wismo-modal-border': rgba(9, 30, 66, 0.13),
        'wismo-vendor-btn': #0052cc,
        // wismo ends
        // checkout Dashboard
        'checkout-card-bg': #fff,
        'checkout-card-span-text': #575f6c,

        // checkout Dashboard end
        // Early COD page start here
        'early-cod-deactivate-btn': #fff,
        'early-cod-deactivate-btn-color': #0168ed,
        'early-cod-deactivate-btn-border-color': #0168ed,
        'early-cod-card-border': #9b4ff8,

        // Table Component starts Here
        'dtb-tab-background': transparent,
        'dtb-tabs-whole-background': #fff,
        'dtb-tab-text-color-active': #1d252b,
        'dtb-tab-text-color-text': #3c4249,

        // Filter Modal
        'filter-header-background': #fff,
        'filter-content-background': #fff,
        'filter-footer-background': #fff,
        'filter-modal-close-btn': #fff,

        //check Pincode serviceability
        'check-input-background': #fff,
        'check-value': #3d3d3d,
        'check-border': #e3eeff,
        'check-font-color': #0065ff,
        // connect plus
        'connect-bg': #deebff,
        // bulk print shipment
        'bulk-background-color': #fff,
        'bulk-border-color': #dfe1e6,

        'table-navlink-background': #fff,
        'table-navlink-inactive-color': #1f2937,
        'rate-chart-selector-border-color': #fff,
        'rate-chart-selector-text-color': #1f2937,
        'thead-bg': #f3f4f6,
        'rate-chart-table-head-text-color': #6b7280,
        'rate-chart-table-text-color': #374151,
        'rate-chart-radio-label': #1f2937,
        'fw-dto-inactive-btn': #e5e7eb,
        'fw-dto-active-btn': #fff,
        'fw-dto-btns-border': lightgray,
        'modal-input-color': #374151,
        'cancel-btn-bg': #fff,
        'submit-btn-border': #d1d5db,
        'selected-font-weight-blue': normal,
        'disabled-table-shadow-color': #000,
        'verify-otp-modal-heading': #505f79,
        'verify-otp-modal-subheading': #374151,

        //kyc
        'pancard-bg': #f3f4f6,
        'dateborder-bg': #d1d5db,
        'dropdown-border': #d1d5db,

        //   checkout payment
        'payment-dropdown-border': #4d4d4d,
        'dropdown-background': #d1d5db,
        'payment-input-border': #e5e7eb,
        // 'hover-dropdown':#5d5d5d,
        //checkout general
        'dropdown-color': #1d252b,
        'border-bottom': #dee2e6,
        'input-color': #d1d5db,
        'toggleBackground': #cccccc,
        //checkout discount
        'heading-color': #1d252b,
        'discount-heading': #3c4249,
        'pc-dt-dropdown-border': #e9ecef,
        'error-message': #ff0000,

        /////////////////////////🟢🟢////////////////////////
        // COLORS
        'primary': var(--primary-color),
        'primary-dark': var(--primary-color-dark),
        'error': var(--error-color),
        'error-dark': var(--error-color-dark),
        'success': var(--success-color),
        'success-dark': var(--success-color-dark),
        'light-0': var(--light-0),
        'light-50': var(--light-50),
        'light-100': var(--light-100),
        'light-200': var(--light-200),
        'light-300': var(--light-300),
        'light-400': var(--light-400),
        'light-500': var(--light-500),
        'light-600': var(--light-600),
        'light-700': var(--light-700),
        'light-740': var(--light-740),
        'light-800': var(--light-800),
        'light-900': var(--light-900),
        'light-1000': var(--light-1000),
        'light-1100': var(--light-1100),
        'light-1200': var(--light-1200),
        'light-1300': var(--light-1300),
        'light-1400': var(--light-1400),
        'border-color': var(--border-color),
        'line-color': var(--line-color),
        // buyer intent circle colours
        'bi-green': var(--bi-green),
        'bi-yellow': var(--bi-yellow),
        'bi-gray': var(--bi-gray),
        // Input Colors
        'input-border-color': var(--input-border-color),
        'input-text-color': var(--input-text-color),
        'input-focused-border': var(--input-focused-border),
    ),
);
