@import '../../assets/itl-common-css/common-css.scss';
.overflow-class {
    overflow-y: hidden;
}
.custom-filter-6 {
    .checkbox-custom-outer .input-before::after {
        left: 3px;
    }
    .field-checkbox {
        display: block;
    }
    .field-checkbox > label {
        padding-left: 24px;
        vertical-align: super;
    }
    .checkbox-custom-outer .input-before {
        position: absolute;
    }
}
.header-section {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1f2937;
}
.p-tabview {
    .p-tabview-nav-content {
        margin: 0 20px;
        border-radius: 12px 12px 0 0;
        border-bottom: 1px solid #ccc;
    }
    .p-tabview .p-tabview-nav {
        border: none;
    }
    .p-tabview-panels {
        background: transparent;
        padding: 0;
    }
    .datatable-card {
        border-radius: 0 0 12px 12px;
    }
    li.p-tabview-header {
        position: relative;
    }
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}
.selected-filter-checkbox-outer {
    .p-dropdown {
        margin-left: 16px;
        height: 29px;
        border-radius: 50px;
        width: 170px;
        &:not(.p-disabled):hover {
            border-color: #d4d6d9;
        }
        &:not(.p-disabled).p-focus {
            outline: 0 !important;
            outline-offset: 0;
            box-shadow: none !important;
            border-color: #d1d5db !important;
        }
        .p-dropdown-label .p-placeholder {
            padding: 3px 3px 3px 14px;
        }
        .p-dropdown-label {
            padding: 5px 3px 5px 14px;
        }
    }
    .assign-btn {
        margin-left: 20px;
        .assign-to-btn {
            width: 94px;
            height: 29px;
            padding: 0 26px;
            border-radius: 50px;
            border: solid 1px #0049b0;
            background-color: #0052cc;
            color: #ffffff;
            text-align: center;
        }
    }
}

.p-dropdown .p-dropdown-label.p-placeholder {
    padding: 3px 3px 3px 14px;
}
/** new layout css start */
.layout-custom-static {
    .wrapper {
        .section-container {
            @media (min-width: 1025px) {
                position: fixed;
                width: -webkit-fill-available;
            }
        }
    }
}
.wrapper {
    @media (max-width: 767px) {
        margin-top: 19px;
    }
    background: #fff;
    .section-container {
        background: #fff;
        width: 100%;
        // @media (min-width: 768px) and (max-width: 1023px) {
        //     position: fixed;
        //     width: 100%;
        // }
        // @media (min-width: 1024px) {
        //     position: fixed;
        //     width: calc(100% - 62px);
        // }
        .page-header {
            padding: 16px;
            border-bottom: 1px solid #e9ebef;
            align-items: center;
            @media (max-width: 767px) {
                border-bottom: none;
            }
            @media (max-width: 767px) {
                display: flex;
            }
            .domestic-int-dropdown {
                margin-left: auto;
                display: flex;
                align-items: center;
                .widget-icon-outer {
                    display: none;
                    @media (max-width: 767px) {
                        display: block;
                    }
                    img {
                        margin-top: 4px;
                    }
                }
            }
            @media (max-width: 767px) {
                padding: 12px;
            }
        }
        .sec-heading {
            display: flex;
            max-width: 251px;
            align-items: center;
            span {
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                line-height: 0.78;
                letter-spacing: normal;
                color: #1d252b;
                // margin-left: 12px;
                font-family: $segoeUISemiBoldFont;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
        .section-tabs {
            position: relative;
            .datatable-card {
                margin: 0;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
            }
            .p-tabview-nav-container {
                display: inline-block;
                position: absolute;
                top: -34px;
                margin-left: 18%;
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .p-tabview {
                .p-tabview-nav-content {
                    border-bottom: none;
                    margin: 0;
                    overflow-x: inherit;
                    overflow-y: inherit;
                    display: inline-block;
                }
                .p-tabview-nav {
                    border: none;
                    li {
                        .p-tabview-nav-link {
                            padding: 0;
                            font-size: 14px;
                            font-weight: 600;
                            font-style: normal;
                            line-height: 1;
                            letter-spacing: normal;
                            text-align: center;
                            color: #3c4249;
                            border: none;
                        }
                        &.p-highlight .p-tabview-nav-link {
                            color: #006af4;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 100%;
                                bottom: -18px;
                                height: 2px;
                                background: #1279ff;
                            }
                        }
                        &.p-tabview-header {
                            padding: 0 20px;
                            border-right: 1px solid #e9ebef;
                            .p-tabview-header-action {
                                overflow: inherit;
                            }
                        }
                        &.p-tabview-header:first-child {
                            border-left: 1px solid #e9ebef;
                        }
                    }
                }
            }
        }
    }
}
.dropdown {
    position: relative;
    display: inline-block;
    .dropbtn {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #1d252b;
        &img {
            margin-right: 8px;
            @media (max-width: 767px) {
                margin-left: 0;
            }
        }
        @media (max-width: 767px) {
            span {
                display: none;
            }
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 4;
        right: 0;
        top: 25px;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #ddd;
        }
    }
    .show {
        display: block;
    }
}
.custom-dropdown {
    position: relative;
    .dropdown-header {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 0.71;
        letter-spacing: normal;
        color: #006af4;
        font-family: $segoeUISemiBoldFont;
        display: flex;
        align-items: center;
        .selected-lable {
            padding: 8px 4px 8px 8px;
            border-radius: 4px;
            &.dropdownopen {
                background-color: #f1f3f5;
            }
        }
        span {
            margin-left: 12px;
        }
        @media (max-width: 767px) {
            margin-left: 11px;
            border-left: 1px solid #e9ebef;
            padding-left: 4px;
        }
    }
    .dropdown-options {
        position: absolute;
        z-index: 4;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e9ecef;
        background-color: #fff;
        width: 164px;
        padding: 24px;
        top: 25px;
        right: 0;
        .dropdown-item {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #3c4249;
            font-family: $segoeUIRegularFont;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            &.selected {
                font-weight: 600;
                font-family: $segoeUISemiBoldFont;
                color: #006af4;
            }
        }
    }
    &.dropdown-mobile-view {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.widget-outer-sec {
    @media (max-width: 767px) {
        position: fixed;
        bottom: 0;
        z-index: 999;
        background: #fff;
        animation: slideFromTop 0.5s forwards;
        .hidewidget {
            width: 48px;
            height: 4px;
            border-radius: 100px;
            background-color: #d0d6dc;
            margin: 0 auto;
            margin-top: 8px;
        }
        &.responsive-div {
            display: none;
            // animation: slideFromBottom 0.5s forwards;
            &.show-div {
                display: block;
                animation: slideFromBottom 0.5s forwards;
                border-radius: 12px 12px 0 0;
            }
        }
    }
    .widget-outer {
        display: flex;
        padding: 16px;
        border-bottom: 1px solid #e9ebef;
        @media (max-width: 767px) {
            border-bottom: none;
        }
        @media (max-width: 767px) {
            flex-flow: wrap;
            padding: 40px 24px 16px;
        }
        .widget-label {
            font-size: 10px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #656f7d;
            text-transform: uppercase;
            margin-bottom: 4px;
        }
        .widget-count {
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #3c4249;
        }
        .widget-box {
            padding-right: 39px;
            @media (max-width: 767px) {
                padding-right: 0;
                width: 50%;
                margin-bottom: 24px;
            }
        }
        .widget-height {
            height: 32px;
            .mb-2 {
                margin-bottom: 4px !important;
            }
        }
        .widget-box:last-child {
            padding-right: 0;
        }
    }
}
.widget-overlay {
    background: rgba(60, 66, 73, 0.24);
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
}
.overflow-hidden {
    overflow: hidden;
}
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
        display: none;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }
}
@keyframes slideFromTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.p-datatable {
    .position-relative {
        position: relative;
    }
}
.p-overlaypanel.dropdown-box {
    width: 244px !important;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d0d6dc;
    .whatsapp-count-outer {
        padding: 16px;
        h6 {
            margin-bottom: 16px;
            line-height: 16px;
            font-size: $fontSize13;
            color: #1d252b;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            font-family: 'SegoeUI-Regular';
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 16px;
            letter-spacing: normal;
            text-align: left;
            color: #3c4249;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .p-overlaypanel-content {
        padding: 0;
    }
    .whatsapp-count-footer {
        padding: 12px 16px;
        border-top: 1px solid #e9ebef;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-family: 'SegoeUI-Regular';
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 16px;
            letter-spacing: normal;
            text-align: left;
            color: #3c4249;
            &.total-amount {
                font-family: 'SegoeUI-Semibold';
                color: #1d252b;
                font-weight: 600;
            }
        }
        .total-amount {
            margin-left: auto;
        }
    }
}
/** new layout css end */
// status overlay css start
.status-overlay-outer-section {
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d0d6dc;
    width: 200px;
    .p-overlaypanel-content {
        padding: 0 !important;
        .status-overlay-section {
            padding: 16px;
            padding-bottom: 0;
        }
        .status-overlay-footer-btn {
            padding: 12px 12px 12px 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-top: 1px solid #e9ebef;
            .status-cancle-btn {
                margin-right: 8px;
                width: 64px;
                height: 28px;
                padding: 8px 14px 10px;
                border-radius: 4px;
                border: solid 1px #dfe3e6;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.83;
                letter-spacing: normal;
                text-align: center;
                color: #575f6c;
            }
            .status-apply-btn {
                width: 64px;
                height: 28px;
                padding: 8px 16px 10px;
                border-radius: 4px;
                border: solid 1px #0168ed;
                background-color: #1279ff;
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.83;
                letter-spacing: normal;
                text-align: center;
                color: #fff;
            }
        }
        .status-checkbox-outer {
            .checkbox-outer-section {
                margin-left: 0;
                margin-top: 22px;
                .p-checkbox-checked {
                    .p-checkbox-box {
                        border-color: transparent;
                        background: transparent;
                    }
                }
                .p-checkbox-box {
                    border: solid 1px #a3aebb;
                    background-color: #fff;
                    &.p-focus {
                        box-shadow: none !important;
                        border-color: #a3aebb;
                    }
                    &.p-highlight {
                        border-color: transparent;
                        background: transparent;
                        &:hover {
                            border-color: #0168ed !important;
                            background: #1279ff !important;
                        }
                    }
                }
                label {
                    font-family: $segoeUIRegularFont;
                    line-height: 18px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #1d252b;
                    margin-bottom: 0;
                    cursor: pointer;
                }
            }
        }
    }
    .status-overlay-head-txt {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #1d252b;
    }
}
label {
    margin-bottom: 0;
}
.widget-skeleton-outer {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #e9ebef;
    @media (max-width: 767px) {
        flex-flow: wrap;
        padding: 40px 24px 16px;
    }
    .widget-skeleton-box {
        width: 10rem !important;
        height: 3rem !important;
        margin-right: 32px !important;
    }
}
.layout-content {
    background-color: #fff;
}
.cursor-pointer {
    cursor: pointer;
}

.cancel-yes-btn {
    width: 128px;
    height: 32px;
    background: #de350b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
// save filter style end
// save filter dropdown style start

.save-filter-active {
    color: blue;
    position: relative;
}
.save-filter-active:after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 10px;
    border-radius: 2px;
    border-left: 2px solid #1d252b;
    border-bottom: 2px solid #1d252b;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 13px;
}
.p-overlaypanel.save-filter-overly.customized-column .p-overlaypanel-content .p-listbox .p-listbox-list-wrapper .p-listbox-list .p-listbox-item .list-text {
    display: block;
    width: 100%;
}
// .features-left-side .start-remittance-outer-sec:hover {
//     background-color: #e9ecef;
//     border-radius: 4px;
// }
.start-remittance-outer-sec {
    cursor: pointer;
    line-height: 11px;
    font-family: 'SegoeUI-Regular';
    font-size: 13px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background: transparent;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}
