@import '../../../assets/itl-common-css/common-css.scss';

.section--two{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    &--subsection{
      @media screen and (min-width:766px) and (max-width:768px){
        padding-left: 28px !important;
        padding-right: 56px !important;
      }
    }
    &.docpan{
      @media screen and (min-width:766px) and (max-width:768px){
        padding-left: 16px !important;
        padding-right: 34px !important;
      }
    }
  }
  .base-dropdown .p-dropdown,.p-dropdown-items {
    width: 100% !important;
  }
  .p-dropdown-items-wrapper{
    width: 100% !important;
  }
  
  #baseDropdown {
    width: 100% !important;
  }
  
  .status-box #baseDropdown{
    width: 127px !important;
    border-radius: 25px !important;
  }
  #status-one #baseDropdown{
    width: 127px!important;
  }
  
  .base-dropdown .p-dropdown {
    height: 40px !important;
  }
  .base-dropdown .p-dropdown .p-inputtext {
    font-size: 13px;
    padding: 10px 12px !important;
  }
  .p-component *{
    font-size: 13px;
  }
  .status-box{
    @media screen and (max-width:480px){
     gap: 71px;
    }
  }
  
  .status-box .p-inputtext {
    padding: 10px !important;
  }
  .p-dropdown:not(.p-disabled).p-focus{
    box-shadow: none !important;
    border-color:#83888f !important;
  }
  
  .p-dropdown:not(.p-disabled):hover{
    border-color: #d4d6d9 !important;
  }
  
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
    background: none !important;
  }
  
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: none;
  }
  
  .hidden {
      display: none !important;
  }
  .status-box .p-inputtext {
    padding: 0;
  }
  
  .p-inputtext:enabled:hover {
      border-color: #D1D5DB;
  }
  
  .p-button {
      color: #6b7280;
      background-color: #fff;
      border: 1px solid #D1D5DB;
  }
  .p-inputtext {
    border-right: none;
  }
  
  .p-calendar-w-btn .p-datepicker-trigger {
    border-left: none;
  }
  
  .p-button:enabled:hover {
      background: #fff;
      color: #6b7280;
      border-color: #D1D5DB;
  }
  
  .section {
    font-family: $interRegular;
    font-size: 13px;
  }
  .p-calendar-w-btn .p-inputtext,.p-calendar-w-btn .p-datepicker-trigger  {
    @include theme(){
       background-color:theme-get('background');
    }
    @include theme() {
              border: 1px solid theme-get('dateborder-bg');
          }
  }
  .p-dropdown,.p-dropdown-panel .p-dropdown-items,.p-dropdown-panel{
    @include theme(){
       background-color:theme-get('background');
    }
    @include theme() {
              border: 1px solid theme-get('dropdown-border');
          }
  }
  .p-dropdown:not(.p-disabled):hover{
    @include theme() {
              border: 1px solid theme-get('dropdown-border')!important;
          }
  }
  #icondisplay{
    border-right: none !important;
  }
  .p-calendar-w-btn .p-datepicker-trigger {
    border-left: none !important;
  }
  .p-icon {
    height: 17px !important;
  }
  .p-dropdown:not(.p-disabled).p-focus{
    border-color: #D1D5DB !important;
  }
  .p-ink-active{
    display: none !important;
  }
  .p-inputtext:enabled:focus,.p-button:focus,.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
    box-shadow: none !important;
  }
  #icondisplay .p-button:enabled:hover{
    background: #fff !important;
    color: #000 !important;
    border-color: #d4d6d9 !important;
  }
  .formtoast{
    width: 100% !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    text-align: center !important;
  }
  .kyc-submit-btn{
    width: 120px !important;
    height: 40px !important;
  }