@import '../../assets/itl-common-css/common-css.scss';


#save-update-filter-modal .p-dialog-header-icons {
    display: none !important;
}

#save-update-filter-modal {
    @media screen and (max-width:767px) {
        padding: 16px !important;
    }
}

#save-update-filter-modal {
    .save-update-filter-label {
        display: block;
        width: auto;
        height: 16px;
        font-size: 12px;
        line-height: 1.33;
        font-weight: normal;
        margin-bottom: 4px;
    }

    .p-dialog {
        border-radius: 8px !important;
    }

    .p-dialog-header {
        @include theme() {
            background: theme-get('filter-header-background') !important;
        }

        font-size: 16px !important;
        font-weight: 600 !important;
        padding: 1.5rem !important;
    }

    .p-dialog-footer {
        height: 52px;
        // border-top: 1px solid #F1F2F5 !important;
        @include theme() {
            border-top: 1px solid  theme-get('input-border-clr') !important;
        }
        padding: 12px 1.5rem !important;

        @include theme() {
            background: theme-get('filter-footer-background') !important;
        }
    }

    .p-dialog-content {
        margin: -2px 0 0 0 !important;
        padding: 0 1.5rem 2rem 1.5rem !important;

        @include theme() {
            background: theme-get('filter-content-background') !important;
        }
    }

    .p-inputtext {
        background: transparent !important;
        // color: #000;
        @include theme() {
            color: theme-get('input-text-clr') !important;
        }
        @include theme() {
            border: 1px solid  theme-get('input-border-clr') !important;
        }
        font-size: 14px;
    }

    .p-inputtext:enabled:hover {
        @include theme() {
            border: 1px solid  theme-get('input-border-clr') !important;
        }
    }

    .p-inputtext:enabled:focus {
        box-shadow: none !important;
        border: 1px solid #dfe3e6;
    }

    .p-dropdown {
        width: 352px !important;
        height: 32px !important;
        margin: 4px 0 0;
        padding: 1px 12px;
        border-radius: 4px;
        border: solid 1px #dfe3e6;
    }

    .p-dropdown .p-dropdown-trigger {
        width: auto !important;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none !important;
        // border: none !important;
    }

    .p-focus {
        background-color: transparent !important;
    }

    .filters-section {
        margin-top: 24px;
    }

    .filters-heading {
        font-size: 14px;
        margin: 0 !important;
    }

    .action-btn {
        width: 58px;
        height: 28px;
        font-size: 12px;
        border-radius: 4px;
        font-family: $interRegular;
    }

    .save-btn-modal-footer {
        color: #fff;
        background: #1279ff;
        border: solid 1px #0168ed;
    }

    .close-btn-modal-footer {
        // color: #000;
        @include theme() {
            color: theme-get('input-text-clr') !important;
        }
        background: transparent !important;

        // border: solid 1px #dfe3e6;
        @include theme() {
            border: 1px solid  theme-get('input-border-clr') !important;
        }
    }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: transparent !important;
}

#save-update-filter-input {
    padding: 9px 12px !important;
    border-radius: 4px !important;
}

#save-update-filter-dropdown {
    .p-inputtext {
        padding: 4px 0px !important;
    }
}